.button {
  width: 200px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 22px;
  line-height: 60px;
  text-align: center;
  font-family: PingFangSC-Semibold;
  outline: none;
  border: none;
  transition: color 0.5s ease-in-out;
  user-select: none;
}