.header {
  width: 620px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (max-width:800px){
  .setting-span{
    display: none;
  }
}
